@import "./fontawesome/less/fontawesome";
@import "./fontawesome/less/solid";

@imagesDir: "../assets";

// color variables
@blue: #00bae7;
@white: #fff;
@background: #f8f8f8;
@grayText: #6c6c6c;

body {
  background-color: @background;
  font-family: Helvetica;
}

.autocompleteForm {
  background-color: @blue;
  padding: 10px;
  margin: 15px 10px;
  
  .autocomplete {
    border: none;
    background-color: @blue;
    color: @white;
    font-size: 24px;
    font-weight: 100;
    padding: 10px;
    width: 90%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: @white;
    }
  }

  .searchIcon {
    .fa-icon;
    .fas;

    &:before {
      content: @fa-var-search;
      color: @white;
    }
  }
}

.banner {
  background-image: url("@{imagesDir}/banner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: @white;

  /* grayscale background image only, not supported in Edge */
  background-blend-mode: luminosity;

  height: 1050px;
  margin: 0 10px 15px;

  .bannerHeader {
    color: @white;
    font-size: 100px;
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;

    .italic {
      font-style: italic;
    }

    .playIcon {
      .fa-icon;
      .fas;

      &:before {
        content: @fa-var-play-circle;
        color: @blue;
        font-size: 75px;
        vertical-align: top;
      }
    }
  }

  .bannerText {
    color: @blue;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }

  .testimonials {
    padding: 100px 15px 15px;
    height: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .testimonial {
      .image {
        height: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &.person1 {
          background-image: url("@{imagesDir}/banner-person-1.jpg");
        }

        &.person2 {
          background-image: url("@{imagesDir}/banner-person-2.jpg");
        }

        &.person3 {
          background-image: url("@{imagesDir}/banner-person-3.jpg");
        }
      }

      .text {
        height: 20%;
        display: inline-block;
        padding: 0 10px;

        .quote {
          color: @white;
        }

        .attribution {
          color: @blue;
        }

        .quotationMark {
          color: @blue;
          font-size: 60px;
          margin: 0 0 -15px;
        }
      }
    }
  }
}

.references {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: @grayText;
  margin: 50px auto;

  .referenceImage {
    margin: 0 auto;
    height: 40px;
  }

  .referenceText {
    margin: 0;
  }
}

.imageSlider {
  background-color: @white;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .sliderText {
    padding: 10% 15%;

    .perks {
      color: @blue;
      font-weight: 300;
    }
  }

  .mainSliderImage {
    max-width: 100%;
  }

  .secondarySliderImage {
    max-width: 49%;
  }
}

.photoFeed {
  text-align: center;

  .family {
    color: @blue;
    font-weight: 300;
  }

  .photoFeedImages {
    display: flex;
    flex-flow: row wrap;

    .photoFeedImage {
      background-color: @white;
      margin: 3px;
      flex: 1;
    }
  }
}






